body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

nav {
    padding: 0 1rem;
}

.content {
    min-height: calc(100vh - 70px - 64px);
    padding: 1.5rem;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

.card-content {
    flex-grow: 1;
}

.card-recipe {
    display: grid;
    grid-template-columns: minmax(240px, 768px);
    max-width: 768px;
}

iframe {
    max-width: 100%;
}

iframe {
    width: 768px;
    height: 350px;
}

.search {
    display: flex;
    flex-direction: row;

    align-items: center;
    grid-gap: 15px;
}

@media (max-width: 768px) {
    .brand-logo {
        font-size: 1rem !important;
    }
    .container-footer {
        display: flex;
        flex-direction: column;
    }
}
